body {
color:blueviolet;
background: black;
margin: 0px;
font-family: "Playfair Display", serif;
}

header{
border-bottom:solid 2px blueviolet;
padding:20px;
font-size: 32px;
color:blueviolet;
}

section{
background: rgb(69, 37, 80);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content:center;
}

.chamada-texto {
margin-right:6%;
}

h1 {
font-size:36px;
}

p {
font-size:20px;
}